@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Hide scrollbars */
  background-color: rgb(6, 6, 20);
}

textarea:focus,
div:focus,
option:focus,
select:focus,
input:focus {
  outline: none;
}
